<h2>Show Message</h2>

<ul>

    <strong>Content:</strong>
    <%= @message.content %>
 <br/>
    <%= if @message.user do %>
<span>
sent by <%= link @message.user.email, to: user_path(@conn, :show, @message.user) %>
</span>
<% else %> <span> sent by default</span> <% end %>
</td>
</td>
 

</ul>

<span><%= link "Back", to: message_path(@conn, :index) %></span>
