<div class="jumbotron">
  <h1><%= gettext "Welcome to %{name}!", name: "Microblog" %></h1>
  <p> Please sign up or login to<br />
  see or post messages</p>
</div>

<div class="jumbotron">
<%= link "Sign Up", to: user_path(@conn, :new), class: "nav-link"%>
</div>
</div>
